footer{
    background: none repeat scroll 0 0 #1e1e1e;
    color: #707070;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;   
}
p{
    text-decoration: underline;
    font-size: 24px;
}
a{
    color: white;
    text-decoration: none;
    /* padding */
}
footer>p, div>a{
    padding:12px;
    font-weight: 500;
}

a>i {
    padding-right:10px;
    /* font-size:16px; */
}
.social-media{
    margin-top:-35px;
}
.social-media a{
    color: gray;
    font-size: 56px;
}

.contact {
    display:flex;
    justify-content: space-around;
}